[submodule "sumo/scenarios/LuSTScenario"]
	path = sumo/scenarios/LuSTScenario
	url = https://github.com/radiganm/LuSTScenario.git
[submodule "distribution"]
	path = distribution
	url = https://github.com/radiganm/distribution.git
