[submodule "distribution"]
	path = distribution
	url = git@github.com:radiganm/distribution.git
[submodule "sumo/scenarios/LuSTScenario"]
	path = sumo/scenarios/LuSTScenario
	url = git@github.com:radiganm/LuSTScenario.git
